<h1> Rock, Paper, Scissors, SHOOT! </h1>

	<h2> Player Name </h2>
	<form method="POST" action="/">
		<input type="text" name="name">

	<h2> Player choice </h2>
	<label for="rock">
		<input type="radio" name="weapon" value="rock" required/>
			Rock
	</label>
	<label for="paper">
		<input type="radio" name="weapon" value="paper" required/>
			Paper
	</label>
	<label for="Scissors">
		<input type="radio" name="weapon" value="scissors" required/>
			Scissors
	</label>
	<br> <br> <br> <br> <br>

	<input type="submit">
</form>